.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.content {
  margin: 0 10% 0 10%;
}

.title {
  font-size: 5rem;
  color: #313131ea;
  font-weight: bold;
}
