.header {
  background-color: rgb(136, 136, 136);
  height: 100vh;
}
.title {
  padding: 2.5rem 0 2.5rem 0;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerIcon {
  text-align: center;
}

.headerContent {
  padding-top: 2rem;
}

.bgColorOne {
  background-color: red;
}

.bgcolorTwo {
  background-color: blue;
}
