// Colors
$bg-color: white;
$dot-color: black;

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

.header {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.title .headerContent {
  padding-top: 2rem;
}

.spacing {
  margin: 0 4rem 0 0;
  border: solid rgba(0, 0, 0, 0.54) 2px;
  padding: 0.5rem;
  border-radius: 50%;
}
.headColor {
  padding: 2rem;
  padding-bottom: 3rem;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}

@media only screen and (min-width: 800px) {
  #title {
    color: #ff0000;
  }
}
